<h1>Résultats</h1>

<p>Your word : <%= @guess %></p>

<ul>
<li> Time taken to answer: <%= @result[:time] %> secondes </li>
<li> Your score: <%= @result[:score] %> points </li>
<li>Message: <%= @result[:message] %></li>
</ul >
